@import 'extras.less';

//SECTIONS BACKGROUNDS
.section:nth-child(even), .blog {
	background-color: #343233 !important;
}
.section:nth-child(odd), .comments-wrapper {
	background-color: #211F20 !important;
}
#works, #projects {
	background-color: #211F20 !important;
}
#home-slider.player {
	background: transparent !important;
}
//ELEMENTS COLORS
.title,
.wwd-block .wwd-data .wwd-title,
.subtitle,
.counter .data .literal,
.services-carousel .service .fa,
.services-carousel.owl-carousel .service,
.tmb-rounded .tmb-data .tmb-title,
.text,
.project-text,
.project-data .data,
.project-data .data a,
.blog.single .prev-post a, 
.blog.single .next-post a,
.blog .post .post-content .text,
.blog .post .post-date,
.pagination li a, 
.pagination li span {
	color:#fff;
}
.wwd-block {
	background-color: #343233;
}
.service .icon {
	background-color: #847C7C;
}
.tmb-standar:hover .tmb-data {
	background-color: #847C7C;
}
.counter {
	color: #847C7C;
}
.title.post,
.primary,
.services-carousel .service .name {
	color:@main-color;
}
.client-logo,
.services-carousel .service,
.blog .post {
	border-color: #847C7C;
}
.form-control {
	background-color: transparent;
}
#footer {
	background-color: #211F20 !important;
}
#landing-4 {
	background-color: @main-color !important;
}
.page-header {
	margin-bottom:0px;
}
.project-progress .icon {
	background-color: inherit;
}
.blog.single .prev-post a:before, .blog.single .next-post a:before, .blog.single .next-post a:after {
	background-color: #fff;
}

#owl-main .item:nth-child(1), #owl-main .item.item1 {
	background:url('../dark/demo/index/slider/01.jpg');
}
#owl-main .item:nth-child(2), #owl-main .item.item2 {
	background:url('../dark/demo/index/slider/02.jpg');
}
#owl-main .item:nth-child(3), #owl-main .item.item3 {
	background:url('../dark/demo/index/slider/03.jpg');
}